

@inject PAYROL_SYSTEM.Interfaces.IUnitOfWork _unitofwork
@{


    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}


<div class="container-fluid">
    <div class="row" style="margin:10px">
        <div class="col-6">
            <h1 style="font-weight:bold;font-family:Calibri;color:#072652">Employee</h1>

        </div>

    </div>
    <div class="row" style="margin:10px">
        <div class="col-6">
            <div style="text-align:start;margin-top:8px">
                <div style="font-size:large">
                    All Employees Details
                </div>
                <div style="font-size:small;color:gray">
                    List of all employees in ECAN CRF
                </div>
            </div>

        </div>
        <div class="col-6" style="text-align:end">
            <a asp-action="CreateNewEmployee" asp-controller="Employees" style="background-color:coral;color:white;padding:10px"><i class="fa fa-plus"></i> Register New  Employee</a>

        </div>
    </div>


    @if (TempData["successs"] != null)
    {
        <div class="alert alert-success">
            <strong>Success!!..</strong>@TempData["successs"]
        </div>
    }
    @if (TempData["Err"] != null)
    {
        <div class="alert alert-danger">
            <strong>Whoops!!..</strong>@TempData["Err"]
        </div>
    }
    <partial name="_Search" />
    <table class="table table-responsive-sm  table-striped table-bordered  table-sm" style="color:black">
        <thead style="background-color:#072652;color:white">

            <tr>
                <th>
                    Full name
                </th>
                <th>
                    Id No
                </th>
                <th>
                    KRA Pin
                </th>
                <th>
                    Department
                </th>
                <th>
                    Phone No
                </th>
                <th>
                    Active status
                </th>
                <th>
                    Basic Salary
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="myUL">
            @foreach (var item in (await _unitofwork.employeeRepo.GetAll()).OrderBy(k => k.strActive_Status))
            {

                Departments d = await _unitofwork.departmentRepo.GetById(item.strDetartmentId);
                var depid = "";
                if (d != null)
                {
                    depid = d.strDepartmentId;

                }
                var background = "";
                var TextColor = "";
                if (item.strActive_Status == Active_Status.In_Active)
                {
                    background = "#fca9a9";
                    TextColor = "#a90505";
                }
                <tr style="color:@TextColor ; background-color:@background;">

                    <td>
                        <b class="text-capitalize">
                            <img src="/Icons/ProfilePic.png" style="height:30px;width:30px" />
                            <span class="text-uppercase" style="margin-left:8px">@item.strFullName</span>
                        </b>

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.strIdNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.strIdKRAPIN)
                    </td>
                    <td>

                        @depid

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.strPhoneNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.strActive_Status)
                    </td>
                    <td>
                        @item.strBasicSalary.ToString("#,##0.00")
                    </td>
                    <td>
                        <a asp-action="EditEmployee" asp-controller="Employees" asp-route-id="@item.strId">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            Edit info
                        </a>
                        |

                        <a asp-action="" data-toggle="modal" data-target="#Delete_@item.strId" style="color:red" asp-route-id=""><i class="fa fa-trash" aria-hidden="true"></i> <span>Remove</span> </a>
                    </td>
                </tr>

                <!-- Modal delete -->
                <div id="Delete_@item.strId" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <div style="font-size:large;font-weight:bold" class="modal-title text-danger">
                                    <i class="fa fa-trash" aria-hidden="true"></i> Remove Employee
                                </div>
                            </div>
                            <div class="modal-body">
                                <div style="font-size:large;font-weight:bold;text-align:center" class="modal-title">Remove @item.strFullName </div>

                                <div class="alert alert-danger">Hey you are about to remove this Employee from the system.Are you sure you want to continue??</div>
                            </div>
                            <form asp-action="RemoveEMployee">
                                <input type="hidden" name="id" value="@item.strId" />
                                <div class="modal-footer">
                                    <div class=" btn-success btn-sm" data-dismiss="modal">Cancel</div>
                                    <input type="submit" id="completebutton" value="REMOVE EMPLOYEE" class=" btn-danger btn-sm" />

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </tbody>
    </table>
</div>