@model PAYROL_SYSTEM.Models.Employees

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Employees</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strFullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strFullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strIdNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strIdNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strNHIF_No)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strNHIF_No)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strNSSF_NO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strNSSF_NO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strIdKRAPIN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strIdKRAPIN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strDetartmentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strDetartmentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strRole)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strRole)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strPhoneNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strPhoneNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strDate_Of_Join)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strDate_Of_Join)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strActive_Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strActive_Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strJobGroupId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strJobGroupId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strGender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strReligion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strReligion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strDateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strDateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strMarital_Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strMarital_Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strBank_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strBank_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strAccountNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strAccountNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strStaff_No)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strStaff_No)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strSacco_Deductyion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strSacco_Deductyion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strLoan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strLoan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strPenalties)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strPenalties)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="strId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
