@model IEnumerable<PAYROL_SYSTEM.Models.Employees>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.strFullName)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.strDetartmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.strRole)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.strPhoneNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.strDate_Of_Join)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.strActive_Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.strJobGroupId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.strGender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.strReligion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.strDateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.strMarital_Status)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.strFullName)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.strDetartmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.strRole)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.strPhoneNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.strDate_Of_Join)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.strActive_Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.strJobGroupId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.strGender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.strReligion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.strDateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.strMarital_Status)
            </td>
          
            <td>
                <a asp-action="Edit" asp-route-id="@item.strId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.strId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.strId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
